body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eee;
}

h1 {
	margin-bottom: 20px
}

div.container {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

div.form-group > * {
	margin: 0.5em 0;
}

div.well {
	margin-top: 4em;
}

p {
	margin-bottom: 0;
}

p + p {
	margin-top: 10px;
}